@font-face { font-family: amazigh; src: local('☺'), url("../fonts/DejaVuSans.woff") format('woff')}
@font-face { font-family: great; src: local('☺'), url("../fonts/GreatVibes-Regular.woff") format('woff')} 

html{font-family:amazigh}
body{background-image: url("../img/back.jpg"); background-size: 20px 40px}
#intro{margin-left: 10px; width:auto; color: #FFAA22; font-family: great ;font-size: 70px;height:100px; border-radius:20px; border:#ccc 10px double; line-height:100px; text-shadow:0 1px 0 gray; text-decoration:none; text-align:center; background: url("../img/sign.jpg") 100% no-repeat; transition: all 0.3s}
#intro:hover{line-height:110px; border:orange 14px double; color:#ccc}
#acc{padding: 20px}
.menu{border-radius: 5px;border: 1px solid #cccccc;margin: 0}
a{color: #ffffff;font-weight: bold;text-decoration: none;padding: 10px;display: block}
nav a:hover{background-color: #ff5f11 }
#tes label, form:not(#radioo) label{color: orange; text-shadow:0 2px 0 gray; -webkit-transition: all .3s ease; -o-transition: all .4s ease; transition: all .4s ease}
form:not(#radioo) label:hover{font-size: 1.4em}
#valida {margin-left: 20px;}
#tes input, form:not(#radioo) input{display: block; font-size:23px; border-radius: 3px; width:310px;height: 40px}
#radioo input{display:block; margin-left:40px; margin-bottom:10px}
#radioo label{margin:10px}
section{color: #cccccc; margin: 0; height: 0; overflow: hidden; -webkit-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease}
section:target{height: 260px}
#reset{margin-top:40px}
#nbre{text-align:center}
#login{background-image: url("../img/register.png");  background-position: 100% -25%; background-repeat:no-repeat}
#login:hover{background-position: 36% -25%}
#login input::-webkit-input-placeholder{background-color: white; font-family: great; size: 44px}
#forget input{font-size: 30px; border-radius: 10px; height: 40px}
#forget input::-webkit-input-placeholder{background-color: white; font-family: great; size: 44px}
#valida:hover {background-color:#FF5F11}
#validate{position:relative; top: -125px; left: 33%;width: 140px; padding:55px; opacity:0; text-align: center }
#validator{position:relative; top: -110px; left:20%;width: 140px; padding:55px; opacity:0; text-align: center }
#register{background-image: url("../img/login.png");  background-position: 100%; background-repeat:no-repeat}
#register:hover{background-position: 23%}
#tes{margin-top:50px; margin-left:auto; margin-right:auto; width:380px}
#mail{margin:20px}
#hope{text-align:center; margin-top:150px}
p{font-size: 15px ; padding-left: 10px; line-height: 1.5;-webkit-transition: all .4s ease; -o-transition: all .4s ease; transition: all .4s ease }
p:hover{color: orange}
#noscript{font-size: 50px; position: absolute; background-color:yellow; text-decoration:underline; font-weight:bolder; top: 130px; left: 0px; height:600px}