<!DOCTYPE html>
<!-- ce que c'est beau les docyptes de HTML5 -->
<html lang="fr-FR">
	<head>
		<meta charset=UTF-8/><!--vous allez remarquer de droles caracteres, c parceque c le moyen de les afficher sur la page web, consultez sa pour avoir le tableau http://webdesign.about.com/od/localization/l/blhtmlcodes-fr.htm -->
		<title>Welcome</title>
		<link href="{{ static_url("css/acc-big.css") }}" rel="stylesheet" media="screen and (min-device-width: 1280px)"> <!-- Toujours servir la derniere mise a jour du fichier sans vider le cache a chaque fois -->
		<link href="{{ static_url("css/keyboard.css") }}" rel="stylesheet" media="screen and (min-device-width: 1280px)">	
	</head>
<body>
		<div id="intro">Veuillez Faire Votre S&eacute;lection</div>

<div id="acc">
	<div class="menu">
		<nav><a href="#login">D&eacute;j&agrave; Inscrit(e)?</a></nav>
			<section id="login">
				<form method="post" action="/login" onsubmit="document.getElementById('validate').disabled = 1">
					 {% raw xsrf_form_html() %}
					<label for="email">Votre email</label>
					<input class="keyboardInput" id="email" type="email" name="email" required placeholder="votre email" title="si vous n'avez pas de compte l'inscription est gratuite!">
					<label for="pass1">Votre mot de passe</label>
					<input class="keyboardInput" id="pass1" type="password" name="pass1" required title="si vous n'avez pas de compte l'inscription est gratuite!" placeholder="votre mot de passe">
					<input id="validate" type="submit"/>
				</form>
			</section>
	</div>
	
	<div class="menu">
		<nav><a href="#forget">Mot de passe oubli&eacute;?</a></nav>
			<section id="forget">
				<form method="post" action="/reset" onsubmit="document.getElementById('valida').disabled = 1">
					 {% raw xsrf_form_html() %}
					<p>Veuillez mettre l'Adresse o&ugrave; votre mot de passe vous sera envoy&eacute;</p>
					<input id="mail" type="email" name="mail" required placeholder="votre email" title="Un code de confirmation vous sera envoy&eacute; vers cette adresse">
					<input id="valida" type="submit" value="Envoyer le Code"/>
				</form>
			</section>
	</div>
	
	<div class="menu">
		<nav><a href="#register">S'enregistrer</a></nav>
			<section id="register"><p>C'est gratuit, et &ccedil;a vous permettera de b&eacute;n&eacute;ficier des avantages en tant que Membre.<br id="choix"/>Veuillez Choisir Votre Statut</p>
				<form id="radioo" action="/register" method="post">
					{% raw xsrf_form_html() %}
					<label for="entr">Entreprise</label>
					<input required type="radio" name="statut" value="entreprise" id="entr"/>
					<label for="part">Particulier</label>
					<input required type="radio" name="statut" value="particulier" id="part"/>
					<input id="validator" type="submit"/>
				</form>
				</section>
	</div>
</div>
<script src="{{ static_url("js/keyboard.js") }}"></script>
		<noscript>
			<em id="noscript">Activez Javascript de votre navigateur pour vous inscrire! cliquez <a href="/javascript.html">ici</a></em>
		</noscript>
</body>
</html>