<!DOCTYPE html>
<!-- ce que c'est beau les docyptes de HTML5 -->
<html lang="fr-FR">
	<head>
		<meta charset=UTF-8/><!--vous allez remarquer de droles caracteres, c parceque c le moyen de les afficher sur la page web, consultez sa pour avoir le tableau http://webdesign.about.com/od/localization/l/blhtmlcodes-fr.htm -->
		<title>Erreur de Navigateur</title>
		<link href="{{ static_url("css/ie.css") }}" rel="stylesheet" media="screen and (min-device-width: 1360px)"> <!-- Toujours servir la derniere mise a jour du fichier sans vider le cache a chaque fois -->
	</head>
<body>
	<div>
	<h2 id="choix">
		Verifiez si vous avez la derni&egrave;re version de l'un des navigateur suivants install&eacute;e, sinon t&eacute;l&eacute;chargez l'un d'eux
	<ul> 
		<li id="opera"><a href="http://www.opera.com">Opera</a></li>
		<li id="chrome"><a href="https://chrome.google.com/">Google Chrome</a></li>
		<li id="firefox"><a href="http://www.firefox.com">Mozilla Firefox</a></li>
	</ul>
	</h2>
	</div>
	<div id="icon">
	</div>
</body>
</html>
