{% include header.html %}
	<form id="reset" action="/pass-change" method="post">
	{% raw xsrf_form_html() %}
	<label for "ancien">Votre ANCIEN Mot de Passe</label>
	<input class="keyboardInput" name="ancien" type="password" required name="Veuillez placer les 4 chiffres" placeholder="Ancien password" />
	<label for="pass1">Votre NOUVEAU Mot de Passe</label>
	<input class="keyboardInput" id="pass1" name="pass1" type="password" required onkeypress="checkCapsLock(event);" placeholder="un mot de passe long" pattern=".{6,}" title="pour votre securit&eacute;, minimum 6 caract&egrave;res, evitez les dates de naissances ou les choses qu'un autre pourra deviner">
	<label for="pass2">Confirmez le</label>
 	<input class="keyboardInput" id="pass2" name="pass2" type='password' required onkeypress="checkCapsLock(event);" placeholder="retappez le mot de passe" onblur="checkPassword(document.getElementById('pass1'), this);" title="retappez le mot de passe">
	<div id="caps-on-warning" style="visibility: hidden;">Vous avez activ&eacute; la touche majiscule</div>
	<input type="submit" value="Envoyer" id="valida"/>
	</form>
	<div id="tes">
	<label for="test">Si vous êtes seul(e), vous pouvez écrire votre mot de passe ici pour voir en clair</label>
	<input class="keyboardInput" id="test" placeholder="Mot de passe sera en clair!" title="Mettez votre mot de passe, puis copiez le et coller le dans la zone du mot de passe si vous voulez assurer ce que vous avez écrit">
	</div>
		
<script src="{{ static_url("js/password.js") }}"></script>
		<script src="{{ static_url("js/caps.js") }}"></script>
		<script src="{{ static_url("js/keyboard.js") }}"></script>
		<noscript>
		<em id="noscript">Activez Javascript de votre navigateur pour vous inscrire! cliquez <a href="/javascript.html">ici</a></em>
		</noscript>
</body>
</html>