{% include header.html %}

{% if result==[] %}
<h1 class="hhh">Il n y a Pas de r&eacute;sultats &agrave; Afficher, peut &egrave;tre le nom ne correspond pas? </h1>
{% else %}
{% for produit in result %}
<div class="result">
<div class="sel3a">
	<span class="prix"><div class="tit">Son Prix:</div> {{produit[0][0]}} Euros</span>
	<span class="nom"><div class="tit">Description du produit:</div> {{produit[1]}}</span>
	<br />
	<br />
	<a href="{{produit[2]}}">Lien direct du produit dans le site Amazon France</a>
</div>

<div class="to">
	<img src="{{produit[3]}}" class="ima" height="300px">		
</div>

</div>
{% end %}

{% end %}

</body>
</html>