{% include header.html %}
{% import babel.numbers %}
{% from simpleencode import b64decode, b64encode, encode %}

<div class="test">
<div class="to">
	{% if parr["pup"][0]["avt"]["ori"]=="portrait" %} <!-- cette technique pour eviter les images a y etre deformees -->
	<img src="/{{avatar}}" class="ima" height="500 px">
	{% else %}
	<img src="/{{avatar}}" class="ima" width="500 px">
	{% end %}
	<form action="/amazon" method="post" class="compare" onsubmit="document.getElementById('compare').disabled = 1">
		{% raw xsrf_form_html() %}
		<input type="hidden" name="namep" value="{{parr["pup"][0]["spec"]["np"]}}" />
		<input type="submit" value="Avoir les prix de Amazon FR" id="compare" />
	</form>
</div>
			<span><div class="tit">Le nom du produit:</div> {{parr["pup"][0]["spec"]["np"]}}</span>
			<span><div class="tit">Son prix:</div> {{babel.numbers.format_currency(parr["pup"][0]["spec"]["pri"], "",locale="fr_FR")}} DA</span>
			<span><div class="tit">Description:</div> {{parr["pup"][0]["spec"]["dsp"]}}</span>
			<span><div class="tit">Publi&eacute; le </div>{{str(parr["pup"][0]["spec"]["dt"])[0:10]}} &agrave; {{str(parr["pup"][0]["spec"]["dt"])[11:16]}}</span>
			<span><div class="tit">Publi&eacute; par :</div> <a title="Visiter les produits de {{parr["prs"]["pseu"]}}" href="/search-pseudo?pseudo={{parr["prs"]["pseu"]}}&s=0">{{parr["prs"]["pseu"]}}</a></span>
			<input type="hidden" value="{{parr["prs"]["tel"]}}" id="tel"/>
			<span id="telf">&nbsp;</span>
			<script>
					var a = document.getElementById("tel").value
					document.getElementById("telf").innerHTML = '<div class="tit">Son num&eacute;ro de t&eacute;l&eacute;phone: </div>' + a.substr(0, 2)+" "+a.substr(2, 2)+" "+a.substr(4, 2)+" "+a.substr(6, 2)+" "+a.substr(8, 2)
			</script>
			
			{% if b64decode(parr["pup"][0]["spec"]["own"]) != email %}
			
			<span><a href="mailto:{{parr["_id"]}}">Lui &eacute;crire un mail</a></span>
			<div class="supprimer" >
				{% if exist == 0 %}
				<form name="supprimer" class="supprimer" method="post" action="/cart" onsubmit="document.getElementById('cart').disabled = 1">
					{% raw xsrf_form_html() %}
					<input type="hidden" value="{{str(parr["pup"][0]["avt"]["fto"])}}" name="prod"/>
					<script>function miaw()
					{
					var c=confirm("Voulez-Vous ajouter ce produit dans votre liste!")
					if (c==false)
					{return false}
					}
					</script>
					<input type="submit" value="Ajouter au Panier!" onclick="return miaw()" id="cart"/>
				</form>
				{% else %}
				<div>
					<h2 class="deja">Vous avez d&eacute;j&agrave; ajout&eacute; ce produit!</h2>
					<form method="post" action="enlever">
					{% raw xsrf_form_html() %}
					<input type="hidden" value="{{encode(str(parr["pup"][0]["avt"]["fto"]), email[5::-1])}}" name="enleve"/>
					<input type="submit" value="Enlever" />
				</form>
				</div>
				{% end %}
			<div class="report" >
				<form name="abus" class="report" method="post" action="/report">
					{% raw xsrf_form_html() %}
					<input type="hidden" value="{{encode(str(parr["pup"][0]["avt"]["fto"]), email[5::-1])}}" name="prod"/>
					<script>function miaws()
					{
					return alert("Merci d'avoir reporté ce produit")
					}
					</script>					
					<div class="report">
						<input type="submit" value="Non Conforme?" onclick="return miaws()" class="reporter"/>
					</div>
				</form>
			</div>
			</div>
			{% end %}
			</div>
<div>&nbsp;</div>
<div class="message">
	<form method="post" action="/comment" enctype="multipart/form-data" onsubmit="document.getElementById('comment').disabled = 1" class="supprimer">
		{% raw xsrf_form_html() %}
		<textarea class="keyboardInput" name="description" id="desc" rows="3" cols="60" required title="Pas de messages vides ;)" placeholder="Votre Commentaire" 
			onKeyDown='textCounter("desc", "shower")'
			onKeyUp='textCounter("desc", "shower")'
			onblur='textCounter("desc", "shower")'>
		</textarea>
		<meter name="shower" min="1" max="160" value="1" id="shower" low="30" high="140">
			Si vous voyez ce texte c que votre navigateur n'acc&egrave;pte pas la balise &lt;meter&gt;	 
		</meter>
		<input type="hidden" name="id" value="{{b64encode(str(parr["pup"][0]["avt"]["fto"])[::-1])}}" />
		<input  id="comment" type="submit" value="Commenter!"/>
	</form>

{% if "cmn" in parr["pup"][0].keys() %}

{% for i in parr["pup"][0]["cmn"] %}

<div class="commentaire">
<a title="Visiter les produits de {{i["pse"]}}" href="/search-pseudo?pseudo={{i["pse"]}}&s=0" ><img src="{{avat[parr["pup"][0]["cmn"].index(i)]}}" height="128" class="commenter"/></a>
<span><a title="Visiter les produits de {{i["pse"]}}" href="/search-pseudo?pseudo={{i["pse"]}}&s=0" >{{i["pse"]}}</a></span>
<span><code>Publi&eacute; le {{i["id"][:10]}} &agrave; {{i["id"][11:]}}</code></span>
<span><p>{{i["txt"]}}</p></span> 
{#
	<form method="post" action="#" id="bad" onsubmit="document.getElementById('report').disabled = 1">
		{% raw xsrf_form_html() %}
		<input type="hidden" value="{{b64encode(i["id"])}}" name="id"/>
		<input type="submit" value="Reporter?" onclick="window.alert('Merci d\'avoir alerté.')" id="report"/>
	</form>
#}
</div>
{% end %}
{% end %}

</div>

</body>
</html>
