<!DOCTYPE html>
<!-- ce que c'est beau les docyptes de HTML5 -->
 {% autoescape None %}
<html lang="fr-FR">
	<head>
		<meta charset=UTF-8/><!--vous allez remarquer de droles caracteres, c parceque c le moyen de les afficher sur la page web, consultez sa pour avoir le tableau http://webdesign.about.com/od/localization/l/blhtmlcodes-fr.htm -->
		<title>Reset du Mot de Passe</title>
		<link href="{{ static_url("css/acc-big.css") }}" rel="stylesheet" media="screen and (min-device-width: 1280px)"> <!-- Toujours servir la derniere mise a jour du fichier sans vider le cache a chaque fois -->	
	</head>
<body>
	<h2 id="hope">
		Op&eacute;ration r&eacute;ussie! <br />
		{{message}}
	</h2>	
</body>
</html>