{% include header.html %}
	<title>Succes</title>
	{% if op=="report" %}
		<h1 class="hhh">Merci d'avoir report&eacute; le produit</h1><br /> <br />
	{% elif op == "achat" %}
		<h1 class="hhh">Produit ajout&eacute; avec succ&egrave;s;</h1><br /><br />
		<h1>Cliquez <a href="/achats">ici</a> pour Consulter la lise de vos produits,<br /><br /></h1>
		<h1>Cliquez <a href="/profil#acheter">ici</a> pour Acheter un autre produit,<br /><br /></h1>
	{% elif op == "vente" %}
		<h1>Cliquez <a href="/ventes">ici</a> pour Consulter la lise de vos produits,<br /><br /></h1>
		<h1>Cliquez <a href="/profil#vendr">ici</a> pour Vendre un autre produit,<br /><br /></h1>
	{% elif op == "rabai" %}
		<h1>Votre mise &agrave; jour est r&eacute;alis&eacute;e avec succ&egrave;s;  <br /><br /></h1>
		<h1>Cliquez <a href="/ventes">ici</a> pour Revenir &agrave; Votre liste de produits &agrave; Vendre<br /><br /></h1>
	{% end %}
		<h1>Cliquez <a href="/profil">ici</a> pour revenir &agrave; la page d'accueil.</h1>
				